.error{
    color: red !important;
}

.ok{
    color: limegreen !important;
}
.Errore-input{
    border-bottom: ridge  red 2px !important;

}

.Inputok{
    border-bottom: ridge limegreen 2px !important;

}
